<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.workflow.mapper.FlwDefMapper">
    <select id="page" resultType="org.dromara.warm.flow.orm.entity.FlowDefinition">
        select *
        from (select a.* from flow_definition a
        inner join (select flow_code,max(version) version from flow_definition group by flow_code) b
        on (a.flow_code = b.flow_code and a.version = b.version)) t
        ${ew.getCustomSqlSegment}
    </select>

</mapper>
