<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.workflow.mapper.FlwDefMapper">

    <select id="selectDefinitionList" resultType="org.dromara.warm.flow.orm.entity.FlowDefinition">
        select *
        from (
            select a.*
            from flow_definition a
                    join (
                        select flow_code,
                               coalesce(
                                   max(case when is_publish = 1 then version end),
                                   max(version)
                               ) as version
                        from flow_definition where del_flag = '0'
                        group by flow_code
                    ) b on (a.flow_code = b.flow_code and a.version = b.version)
            where a.del_flag = '0'
        ) t
        ${ew.getCustomSqlSegment}
    </select>

</mapper>
